body {
    margin: 0px;
    color: var(--primary-color);
    
}
.search-form {
    display: flex;
    padding: 10px 0;
    background-color: blue;
    
}

.input {
    height: ;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    margin-left: auto;
    /* margin-right: auto; */

}

.btn {
    /* width: ; */
    margin-right: auto;
    border: none;
    cursor: pointer;
    border-color: aqua;
    background-image: url(/src/image/search_find_lupa_21889.ico) ;
    
}